/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

body{
  background-color: white
}
.to-do-list-main{
  background-color: #ccff33;
  min-height : 500px;
  width: 400px;
  margin : 40px auto;
}
.to-do-list-main input{
  background-color: white;
  border-color : black;
  border-radius: 25px;
  width : 150px;
  height: 30px;
  padding: 0 30px;
  margin: 20px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  
}
input[type=text]:focus {
  border: 3px solid #555;
}
.to-do-list-main input:focus, .to-do-list-main button:focus{
  outline: none;
}

#add{
  height: 20px;
  width : 80px;
  font-weight: bold;
  border:0;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  color:black;
  font-family:  "serif";
}
#list{
  color:black;
  background-color : #fff;
  padding: 10px 33px;
  border-radius: 55px;
  width: 300px;
  height:30px;
  margin: 20px auto;
  border-radius: 5px;
  
}
#delete{
  display: inline-block;
  height: 33px;
  width : 43px;
  padding: 0px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: red;
  color : white;
  border: none;
  border-radius: 9px;
  position: relative;
  right: -290px;
  top: -42px; 
  
}

#delete:hover {background-color: #f44336}
#delete:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#strike{
  font-size: 20px;
  font-family: Marker Felt, fantasy;
}

#date{
  color : #696969;
  font-size: 15px;
}

#header{
    font-family: Marker Felt, fantasy;
    position: absolute;
   right: 770px;
   top: 22px; 
}